CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218a=y
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_KERNEL_PAGE_POOL is not set
CONFIG_MT76X2E_AP_80211AC_VHT=y
CONFIG_MT76X2E_AP_APCLI=y
CONFIG_MT76X2E_AP_LED=y
CONFIG_MT76X2E_AP_LLTD=y
CONFIG_MT76X2E_AP_MBSS=y
CONFIG_MT76X2E_AP_MBSS_NEW_MBSSID_MODE=y
CONFIG_MT76X2E_AP_WDS=y
CONFIG_MT76X2E_RT_FIRST_CARD=7603
CONFIG_MT76X2E_RT_SECOND_CARD=7612
CONFIG_MT76X2E_RT_SECOND_IF_MT7612E=y
CONFIG_MTK_CHIP_MT7603E_MT7612E=y
# CONFIG_PACKAGE_coremark is not set
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts-services is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables=y
# CONFIG_PACKAGE_kmod-mt76x2 is not set
CONFIG_PACKAGE_kmod-mt76x2e=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-log6=y
CONFIG_PACKAGE_kmod-nf-reject6=y
CONFIG_PACKAGE_liblzma=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
CONFIG_PACKAGE_luci-app-adguardhome=y
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-mtwifi=y
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-i18n-adguardhome-zh-cn=y
CONFIG_PACKAGE_luci-i18n-msd_lite-zh-cn=y
CONFIG_PACKAGE_msd_lite=y
CONFIG_PACKAGE_mt_wifi=y
# CONFIG_PACKAGE_ucode-mod-nl80211 is not set
# CONFIG_PACKAGE_ucode-mod-rtnl is not set
# CONFIG_PACKAGE_ucode-mod-uloop is not set
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_wireless-tools=y
# CONFIG_PACKAGE_wpad-openssl is not set
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xz-utils=y
# CONFIG_WPA_MBO_SUPPORT is not set
CONFIG_PACKAGE_openssl-util=y
